* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/bg-intro-desktop.png);
    text-align: center;
    background-color: hsl(0, 100%, 74%);
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

main {
    height: 100vh;
    display: grid;
    align-content: center;
}

.flex-container {
    display: flex;
    padding: 0 14%;
}

/* text on the :left */

.info-text {
    text-align: left;
    align-self: center;
    flex: 1;
}

.info-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.info-text p {
    font-size: 15px;
    font-weight: 500;
}

/* form on the right */

.form-block {
    flex: 1;
    padding: 0px 0px 0px 40px;
}

.trial-p{
    border-radius: 7px;
    padding: 15px 15px;
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 20px;
    filter: drop-shadow(0 7px 0px rgba(0,0,0,0.1));
    font-weight:600;
}

.sub-plan {
    font-weight: 400;
    font-size: 14px;
}


form{
    background-color: white;
    border-radius: 7px;
    padding: 30px;
    filter: drop-shadow(0 7px 0px rgba(0, 0, 0, 0.1));

}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 25px;
    border: 1px solid hsl(0, 1%, 63%);
    border-radius: 5px;
    margin-top: 15px;
}
.fname{
    margin-top: 0;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

input:active,
input:focus {
    outline: 0;
    border: 1.5px solid hsl(248, 32%, 49%);
    caret-color: hsl(248, 32%, 49%);
}

button{
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 12px 25px;
    border: none;
    border-radius: 7px;
    margin: 15px 0px;
    filter: drop-shadow(0 3px 0px hsla(154, 58%, 33%, 0.8));

}

button:hover{
    background-color: hsl(154, 72%, 56%);

}


.terms{
    color:hsl(246, 25%, 77%);
    font-size: 10px;
    font-weight: 500;
}

.terms-i {
    color: hsl(0, 100%, 74%);
}

/* error styling */

.error {
    text-align: right;
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    display: block;
    box-sizing: border-box;
    font-style: italic;
    padding: 4px;
}
.invalid-input{
    outline: none;
    border: none;
    border: 2px solid hsl(0, 100%, 74%);
    background-image: url(img/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    background-size: 20px;
}
.wemail::-webkit-input-placeholder {
    color: hsl(0, 100%, 74%);
}

.error.active {
    padding: 0.3em;
}


/* Responsive */

@media screen and (max-width: 750px) {
    body{
    background-image: url(img/bg-intro-mobile.png);
    }
    main {
        height:auto;
    }
    .flex-container {
        flex-direction: column;
        padding: 0 4%;
    }
    .info-text{
        flex:none;
        align-self: unset;
        margin: 60px 0px;
        width: 100%;
        text-align: center;
    }
    .form-block {
        flex:none;
        padding: 0;
    }
}